@font-face {
  font-family: "Lora";
  src: url('/fonts/Lora-Italic-VariableFont_wght.ttf');
}
@font-face {
  font-family: "Odalisque";
  src: url('/fonts/Odalisque-Deco.ttf');
}
body {
  background: url('video.png');
  background-size: cover;
}
a {
  text-decoration:none;
  color: #fff;
}

.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
}
.content {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Odalisque";
}
.main {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lora";

}

.txt {
  font-size: 17px;
  max-width: 550px;
  margin: auto;
  color: #fff;
  text-align: center;
  background-color: rgba(179, 220, 253, 0.5);
  border-radius: 80px;
  padding-bottom: 20px;
}
p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.name {
  font-weight: bold;
  font-size: 76px;
  line-height: 130%;
  text-align: center;
  font-family: bold "Odalisque";
  color: rgb(180, 206, 255);
  text-shadow:
    0 0 7px rgb(174, 206, 253),
    0 0 10px rgb(186, 207, 252),
    0 0 21px rgb(168, 198, 255),
    0 0 42px rgb(125, 192, 255),
    0 0 82px rgb(85, 165, 255),
    0 0 92px rgb(0, 119, 255),
    0 0 102px rgb(0, 162, 255),
    0 0 151px rgb(248, 250, 255);
}
.soc {
text-align: center;
margin-bottom: 50px;
margin-top: -50px;
}
.links {
  color: rgb(180, 206, 255);
  font-family: "Odalisque";
  font-size: 20px;
  display: inline-block;
  justify-content: center;
  opacity: 0.8;
  background-color: rgba(0, 98, 211, 0.5);
  border-radius: 500px;
  text-shadow:
  0 0 7px rgb(174, 206, 253),
  0 0 10px rgb(186, 207, 252),
  0 0 21px rgb(168, 198, 255),
  0 0 42px rgb(125, 192, 255),
  0 0 82px rgb(85, 165, 255),
  0 0 92px rgb(0, 119, 255),
  0 0 102px rgb(0, 162, 255),
  0 0 151px rgb(248, 250, 255);
}
.footer {
background: rgb(255, 255, 255, 0.5);
margin-top: 350px;
padding-top: 20px;
padding-bottom: 600px;
}
h3 {
  font-family: "Odalisque";
  text-align: center;
  color: #fff;
  text-shadow:
  0 0 7px rgb(174, 206, 253),
  0 0 10px rgb(186, 207, 252),
  0 0 21px rgb(168, 198, 255),
  0 0 42px rgb(125, 192, 255),
  0 0 82px rgb(85, 165, 255),
  0 0 92px rgb(0, 119, 255),
  0 0 102px rgb(0, 162, 255),
  0 0 151px rgb(248, 250, 255);
}
p {
  text-align: center;
  color: #fff;
  }
  #slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background: #bde5f3;
 }
 #slides .slide_2 {
    background: #b7c4ff;
 }
 #slides .slide_3 {
    background: #f3caff;
 }
 #slides .slide_4 {
    background: #a6fced;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(/img/right.png) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(/img/left.png) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }
 h2 {
  font-family: "Odalisque";
  text-align: center;
  color: #fff;
  text-shadow:
  0 0 7px rgb(174, 206, 253),
  0 0 10px rgb(186, 207, 252),
  0 0 21px rgb(168, 198, 255),
  0 0 42px rgb(125, 192, 255),
  0 0 82px rgb(85, 165, 255),
  0 0 92px rgb(0, 119, 255),
  0 0 102px rgb(0, 162, 255),
  0 0 151px rgb(248, 250, 255);
}
.bunny {
	max-width: 500px;
  margin: auto;
  margin-left: 1400px ;
  margin-top: -450px;
}

.hm {
  text-align: center;
  font-family: "Odalisque";
  font-size: 17px;
  text-shadow:
  0 0 7px rgb(243, 149, 252),
  0 0 10px rgb(247, 75, 218),
  0 0 21px rgb(212, 119, 255),
  0 0 42px rgb(219, 80, 247),
  0 0 82px rgb(247, 154, 255),
  0 0 92px rgb(255, 200, 237),
  0 0 102px rgb(215, 118, 253),
  0 0 151px rgb(255, 141, 236);
  margin-top: 200px;
  border: 2px solid #fdd0ff;
  background-color: rgb(164, 180, 250);
  border-radius: 80px;

}