* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(112, 73, 124)
}

a:hover {
    text-decoration: underline;
}

button {
    border: salmon;
    background: none;
}

li {
    list-style: none;
    text-align: center;
}

body {
    height: 100%;
    line-height: 1;
    background: white;
    width: 1440px;
    margin: 0 auto;
    background-color: rgb(197, 215, 231);
}

button {
    border: 1px solid black;
    padding: 3px;
}

button:hover {
    background: rgb(166, 170, 175);
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    background: grey;
    border-radius: 30px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

header h1 {
    margin-left: 25px;
}

header ul {
    display: flex;
}

header li {
    margin-right: 25px;
    margin-left: 25px;
}

main {
    display: flex;
    border-radius: 30px;
    padding-left: 25px;
    padding-bottom: 30px;
    background: pink;
}

main h1 {
    margin-top: 30px;
}

main p {
    font-size: 18px;
    margin-top: 15px;
    max-width: 650px;
}

.cat-mem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-left: 50px;
}

main span {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bolder;
}

.cat-mem img {
    max-width: 50%;
    width: 100%;
}

footer {
    background: skyblue;
    border-radius: 30px;
}

footer h1 {
    padding-top: 30px;
    text-align: center;
}

footer div {
    margin-top: 15px;
    margin-left: 25px;
    padding-bottom: 30px;
}

footer div a {
    font-size: 18px;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background: white;
}

.card img {
    width: 70px;
    height: 70px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
